/dream-restaurant-android/.gradle
/dream-restaurant-android/app/build
/dream-restaurant-android/gradle
/dream-restaurant-android/keystore
/dream-restaurant-android/keystore.properties
*.jks
*.keystore
/dream-restaurant-android/tools
